.card {
    height: 700px;
    margin-bottom: 20px;
    

  
}
// .card:not(:first-child) {
//     margin-top: 20px;
//   }
  

div.header_main{
    margin-top: 80px ;
    margin-bottom: 80px
}

.my-container > div > div{
    position: static !important;
}

// @media (max-width: 576px) {
//     .card {
//         padding: 10px;
//     }
// }

// /* Media query for medium screens (between 576px and 768px) */
// @media (min-width: 576px) and (max-width: 768px) {
//     .card {
//         padding: 15px;
//     }
// }

// /* Media query for large screens (above 768px) */
// @media (min-width: 768px) {
//     .card {
//         padding: 20px;
//     }
// }